.wrapper {
    text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.button {
	display: block;
	width: 225px;
	height: 45px;
	background: #4E9CAF;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family:helvetica;
  	font-size:24px;
	position: absolute;
	top: 50%;
}